<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<div class="toolbar">
    <img width="10%" src="\assets\logo.png" />
    <div class="spacer"></div>
    <div class="spacer">
        <a target="_blank" rel="noopener" href="" title="Quienes Somos">
            <img width="4%" src="\assets\alert-circle-outline.svg" /> Quienes Somos
        </a>
        <a target="_blank" rel="noopener" href="" title="Quienes Somos">
            <img width="4%" src="\assets\phone-portrait-outline.svg" /> Accesorios
        </a>
        <a>
            <img width="4%" src="\assets\search.svg" />
        </a>
        <a>
            <img width="4%" src="\assets\email.svg" />
        </a>
        <a>
            <img width="4%" src="\assets\user.svg" />
        </a>
    </div>
</div>

<div class="content">
    <img src="\assets\logo.png" />
    <h2>Únete ahora a ZONA MOVIL</h2>

    <!-- Footer -->
    <footer></footer>
</div>